<h1>Sign in</h1>
<div class="columns">
    <div class="column wide">
      <%#= error_messages_for(:user, :order => [:email, :password], :message => "", :header_message => "")%>
      <% form_for :user, :url => biz_path do |f| %>
        <p class="ctrl">
            <%= label_tag(:email, "Email") %>
            <%= f.text_field :email, :class => "w250px" %>
        </p>
        <p class="ctrl">
            <%= label_tag(:password, "Password") %>
            <%= f.password_field :password, :class => "w250px" %>
        </p>
        <%= content_tag :p, @message, :style => "color:red;" if @message %>
        <p class="ctrls">
            <span class="button-green"><%= f.submit("Go!") %></span>
            <%= link_to "Forgot Password?", forgot_path, :class => "alter-link" %>
        </p>
      <% end %>
    </div><!-- .column.wide -->
</div><!-- .columns -->
