<%= render :partial => "/partials/my_dashboard" %>
<h1>Look at your cool analytics! (<%= @page %> of <%= @size %>)</h1>
<div class="columns">
    <div class="column wide">

        <% if @chart_data1 and @chart_data1.size > 0 %>
          <% form_tag analytics_path, :id => "page_form", :style => "display:none;" do %>
            <%= hidden_field_tag(:page, @page) %>
          <% end %>
        <% end %>

        <div class="capsule">
            <div class="cinner">
                <% visualization "chart_id1", "ColumnChart", :colors => @colors, :is3D => true, :width => 555, :height => 300, :legend => "bottom", :titleX => @titleX, :titleY => @titleY, :title => @title do |chart| %>
                    <% chart.string @titleX %>
                    <% chart.number @titleY %>
                    <% chart.add_rows(@chart_data1) %>
                <% end %>
            </div><!-- .cinner -->
            <div class="ctl"></div><div class="ctc"></div><div class="ctr"></div>
            <div class="cml"></div><div class="cmr"></div>
            <div class="cbl"></div><div class="cbc"></div><div class="cbr"></div>
        </div><!-- .capsule -->

        <p class="paging">
          <% if @page.to_i != @post_pages %>
              <% if(@page.to_i <= 1)%>
                  <%= link_to("Next #{@per_page}", "javascript:void();", :class => "next", :onclick => "var f = document.forms['page_form'];$('page').value=2;f.submit();return false;") %>
                  <% 1.upto(@size).each do |page| %>
                    <%= link_to("#{page}", "javascript:void();", :class => (@page == page) ? "current" : nil, :onclick => "var f = document.forms['page_form'];$('page').value=#{page.to_i};f.submit();return false;") %>
                  <% end %>
              <% else %>
                  <%= link_to("Prev #{@per_page}", "javascript:void();", :class => "prev", :onclick => "var f = document.forms['page_form'];$('page').value=#{@page.to_i-1};f.submit();return false;") %>
                  <%= link_to("Next #{@per_page}", "javascript:void();", :class => "next", :onclick => "var f = document.forms['page_form'];$('page').value=#{@page.to_i+1};f.submit();return false;") %>
                  <% 1.upto(@size).each do |page| %>
                    <%= link_to("#{page}", "javascript:void();", :class => (@page == page) ? "current" : nil, :onclick => "var f = document.forms['page_form'];$('page').value=#{page.to_i};f.submit();return false;") %>
                  <% end %>
              <% end %>
          <% elsif @page.to_i > 1 %>
              <%= link_to("Prev #{@per_page}", "javascript:void();", :class => "prev", :onclick => "var f = document.forms['page_form'];$('page').value=#{@page.to_i-1};f.submit();return false;") %>
              <% 1.upto(@size).each do |page| %>
                <%= link_to("#{page}", "javascript:void();", :class => (@page == page) ? "current" : nil, :onclick => "var f = document.forms['page_form'];$('page').value=#{page.to_i};f.submit();return false;") %>
              <% end %>
          <% end -%>
        </p>

    </div><!-- .column.wide -->
</div><!-- .columns -->

  <div class="paginator" style="display: none">
      <% if @page.to_i != @post_pages %>
          <% if(@page.to_i <= 1)%>
              <%= link_to("Next #{@per_page}", "javascript:void();", :class => "button next", :onclick => "var f = document.forms['submit_form'];$('page').value=2;f.submit();return false;") %>
          <% else %>
              <%= link_to("Prev #{@per_page}", "javascript:void();", :class => "button prev", :onclick => "var f = document.forms['submit_form'];$('page').value=#{@page.to_i-1};f.submit();return false;") %>
              <%= link_to("Next #{@per_page}", "javascript:void();", :class => "button next", :onclick => "var f = document.forms['submit_form'];$('page').value=#{@page.to_i+1};f.submit();return false;") %>
          <% end %>
      <% elsif @page.to_i > 1 %>
          <%= link_to("Prev #{@per_page}", "javascript:void();", :class => "button prev", :onclick => "var f = document.forms['submit_form'];$('page').value=#{@page.to_i-1};f.submit();return false;") %>
      <% end -%>
  </div>

<%= render_visualizations %>
