<%
  total_time = (@analytics_today["timeOnSite"].to_f/(@analytics_today["visits"].to_f > 0 ? @analytics_today["visits"].to_f : 1)).ceil
  min_t = total_time/60
  sec_t = total_time%60

  total_time = (@analytics_overall["timeOnSite"].to_f/(@analytics_overall["visits"].to_f > 0 ? @analytics_overall["visits"].to_f : 1)).ceil
  min_o = total_time/60
  sec_o = total_time%60
%>

<h1>Daily dealkat say your price report</h1>
<h2>
  Campaign Start Date= May 11, 2011<br />
  Time made= <%= Date.today.beginning_of_day.strftime("%B %d, %Y, %I%p") %> PST
</h2>
<h3>Salient Metrics</h3>

<table style="border:medium none;border-collapse:collapse;width:624px">
  <colgroup><col width="*"><col width="*"><col width="*"></colgroup>
  <tbody>
    <tr style="min-height:0px">
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:bold;font-style:normal;text-decoration:underline;vertical-align:baseline">Metric</span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:bold;font-style:normal;text-decoration:underline;vertical-align:baseline">Yesterday</span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:bold;font-style:normal;text-decoration:underline;vertical-align:baseline">Cumulative Since May 11</span></td>
    </tr>
    <tr style="min-height:0px">
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"># of visits</span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"><%= number_with_delimiter(@analytics_today["visits"]) %></span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"><%= number_with_delimiter(@analytics_overall["visits"]) %></span></td>
    </tr>
    <tr style="min-height:0px">
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"># of pageviews</span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"><%= number_with_delimiter(@analytics_today["pageviews"]) %></span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"><%= number_with_delimiter(@analytics_overall["pageviews"]) %></span></td>
    </tr>
    <tr style="min-height:0px">
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline">Average pages/visit</span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"><%= number_to_currency((@analytics_today["pageviews"].to_i/(@analytics_today["visits"].to_f >0 ? @analytics_today["visits"].to_f : 1)), :precision => 2, :unit => "") %></span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"><%= number_to_currency((@analytics_overall["pageviews"].to_i/(@analytics_overall["visits"].to_f >0 ? @analytics_overall["visits"].to_f : 1)), :precision => 2, :unit => "") %></span></td>
    </tr>
    <tr style="min-height:0px">
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline">Average time on site</span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"><%= content_tag(:b, "#{(min_t < 10 ? '0' : '')}#{min_t}:#{(sec_t < 10 ? '0' : '')}#{sec_t}") %></span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"><%= content_tag(:b, "#{(min_o < 10 ? '0' : '')}#{min_o}:#{(sec_o < 10 ? '0' : '')}#{sec_o}") %></span></td>
    </tr>
  </tbody>
</table>

<h3>Coupon Details</h3>

<table style="border:medium none;border-collapse:collapse;width:624px">
  <colgroup><col width="*"><col width="*"><col width="*"></colgroup>
  <tbody>
    <tr style="min-height:0px">
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:bold;font-style:normal;text-decoration:underline;vertical-align:baseline">Metric</span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:bold;font-style:normal;text-decoration:underline;vertical-align:baseline">Yesterday</span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:bold;font-style:normal;text-decoration:underline;vertical-align:baseline">Cumulative Since May 11</span></td>
    </tr>
    <tr style="min-height:0px">
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"># Of coupons viewed</span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"><%= number_with_delimiter(Offer.count(:conditions => ["response <> ? and (CONVERT_TZ(updated_at, '+0:00', '-7:00') >= ? and CONVERT_TZ(updated_at, '+0:00', '-7:00') <= ?)", "expired", @today.to_datetime.beginning_of_day, @today.to_datetime.end_of_day])) %></span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"><%= number_with_delimiter(Offer.count(:conditions => ["response <> ? and CONVERT_TZ(updated_at, '+0:00', '-7:00') <= ?", "expired", DateTime.now])) %></span></td>
    </tr>
    <tr style="min-height:0px">
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline">Total coupon sales @100% redemption</span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"><%= number_to_currency(@todays_dollars, :precision => 2) %></span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"><%= number_to_currency(@overall_dollars, :precision => 2) %></span></td>
    </tr>
    <% for price_code in PromotionCode::PRICE_CODES %>
    <tr style="min-height:0px">
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"># of <%= (price_code > 0) ? "$#{price_code.to_i}" : "Free" %> Coupons</span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"><%= number_with_delimiter(@todays_coupons[price_code][0]) %></span></td>
      <td style="border:1px dotted rgb(170, 170, 170);vertical-align:top;padding:7px"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:baseline"><%= number_with_delimiter(@all_coupons[price_code][0]) %></span></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
<a href="mailto:dealkat@dealkat.com" target="_blank"><span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 153);background-color:transparent;font-weight:bold;font-style:normal;text-decoration:underline;vertical-align:baseline">dealkat@dealkat.com</span></a>
<!--span style="font-size:12pt;font-family:Verdana;color:rgb(0, 0, 0);background-color:transparent;font-weight:bold;font-style:normal;text-decoration:underline;vertical-align:baseline"> &nbsp;650.210.3772</span-->
</p>