<h1 class="home">Let’s make a deal! Say your price.</h1>

<div class="intro-steps">
    <%= link_to(content_tag(:span, 1)+label_tag(:label1, "Check out our latest women’s styles"), say_your_price_path) %>
    <%= link_to(content_tag(:span, 2)+label_tag(:label2, "Say your price"), say_your_price_path) %>
    <%= link_to(content_tag(:span, 3)+label_tag(:label3, "Grab exclusive coupons and hit our stores"), say_your_price_path) %>
</div><!-- .steps -->

<div class="intro-slides">
    <%= link_to(image_tag("/images/samples/pants-300x460px-1.jpg"), capsule_path(3)) %>
    <%= link_to(image_tag("/images/samples/pants-300x460px-2.jpg"), capsule_path(2)) %>
    <%= link_to(image_tag("/images/samples/pants-300x460px-3.jpg"), say_your_price_path) %>
    <div class="tl"></div><div class="tr"></div>
    <div class="bl"></div><div class="br"></div>
</div><!-- .intro-slides -->

<p class="intro-ctrls">
    <%= link_to(content_tag(:span, "Let's make a deal!"), say_your_price_path, :class => "button-green") %>
</p>
