<% if @products and @products.size > 0 %>
  <% form_tag say_your_price_path, :id => "page_form", :style => "display:none;" do %>
    <%= hidden_field_tag(:page, @page) %>
  <% end %>

  <div class="columns">
    <div class="column widest">
        <p class="paging">
          <% if @page.to_i != @post_pages %>
              <% if(@page.to_i <= 1)%>
                  <%= link_to("Next #{@per_page}", "javascript:void();", :class => "next", :onclick => "var f = document.forms['page_form'];$('page').value=2;f.submit();return false;") %>
                  <% @page_start_num.upto(@page_end_num).each do |page| %>
                    <%= link_to("#{page}", "javascript:void();", :class => (@page == page) ? "current" : nil, :onclick => "var f = document.forms['page_form'];$('page').value=#{page.to_i};f.submit();return false;") %>
                  <% end %>
              <% else %>
                  <%= link_to("Prev #{@per_page}", "javascript:void();", :class => "prev", :onclick => "var f = document.forms['page_form'];$('page').value=#{@page.to_i-1};f.submit();return false;") %>
                  <%= link_to("Next #{@per_page}", "javascript:void();", :class => "next", :onclick => "var f = document.forms['page_form'];$('page').value=#{@page.to_i+1};f.submit();return false;") %>
                  <% @page_start_num.upto(@page_end_num).each do |page| %>
                    <%= link_to("#{page}", "javascript:void();", :class => (@page == page) ? "current" : nil, :onclick => "var f = document.forms['page_form'];$('page').value=#{page.to_i};f.submit();return false;") %>
                  <% end %>
              <% end %>
          <% elsif @page.to_i > 1 %>
              <%= link_to("Prev #{@per_page}", "javascript:void();", :class => "prev", :onclick => "var f = document.forms['page_form'];$('page').value=#{@page.to_i-1};f.submit();return false;") %>
              <% @page_start_num.upto(@page_end_num).each do |page| %>
                <%= link_to("#{page}", "javascript:void();", :class => (@page == page) ? "current" : nil, :onclick => "var f = document.forms['page_form'];$('page').value=#{page.to_i};f.submit();return false;") %>
              <% end %>
          <% end -%>
        </p>

        <% for product in @products %>
            <%= render :partial => "partials/capsule", :object => product %>
        <% end %>

        <p class="paging">
          <% if @page.to_i != @post_pages %>
              <% if(@page.to_i <= 1)%>
                  <%= link_to("Next #{@per_page}", "javascript:void();", :class => "next", :onclick => "var f = document.forms['page_form'];$('page').value=2;f.submit();return false;") %>
                  <% @page_start_num.upto(@page_end_num).each do |page| %>
                    <%= link_to("#{page}", "javascript:void();", :class => (@page == page) ? "current" : nil, :onclick => "var f = document.forms['page_form'];$('page').value=#{page.to_i};f.submit();return false;") %>
                  <% end %>
              <% else %>
                  <%= link_to("Prev #{@per_page}", "javascript:void();", :class => "prev", :onclick => "var f = document.forms['page_form'];$('page').value=#{@page.to_i-1};f.submit();return false;") %>
                  <%= link_to("Next #{@per_page}", "javascript:void();", :class => "next", :onclick => "var f = document.forms['page_form'];$('page').value=#{@page.to_i+1};f.submit();return false;") %>
                  <% @page_start_num.upto(@page_end_num).each do |page| %>
                    <%= link_to("#{page}", "javascript:void();", :class => (@page == page) ? "current" : nil, :onclick => "var f = document.forms['page_form'];$('page').value=#{page.to_i};f.submit();return false;") %>
                  <% end %>
              <% end %>
          <% elsif @page.to_i > 1 %>
              <%= link_to("Prev #{@per_page}", "javascript:void();", :class => "prev", :onclick => "var f = document.forms['page_form'];$('page').value=#{@page.to_i-1};f.submit();return false;") %>
              <% @page_start_num.upto(@page_end_num).each do |page| %>
                <%= link_to("#{page}", "javascript:void();", :class => (@page == page) ? "current" : nil, :onclick => "var f = document.forms['page_form'];$('page').value=#{page.to_i};f.submit();return false;") %>
              <% end %>
          <% end -%>
        </p>
    </div><!-- .column.wide -->
  </div><!-- .columns -->
<% else %>
  <div style="height: 200px;"></div>
<% end %>
