<%description = @payment.offer.product.style_description%>
<% if PromotionCode::SPECIAL_CODES.include?(@payment.offer.price) %>
  <h1>Congrats! You Won <%=description.first.downcase.match(/[aeiou]/) ? "an" : "a"%> <%=description %>! Share this coupon with friends</h1>
<%else%>
  <h1>Congrats! You Won <%=description.first.downcase.match(/[aeiou]/) ? "an" : "a"%> <%=description %> for <%= (@payment.offer.price > 0) ? number_to_currency(@payment.offer.price.ceil, :precision => 0) : "Free" %></h1>
<%end%>
<div class="columns">
    <div class="column widest">
        <div class="capsule2 inline w550px">
          <div class="cinner">
              <h2>Coupon# <%=@payment.promotion_code.code %></h2>
              <div class="divider"></div>
              <p>
                  Your Price: <%= (@payment.offer.price > 0) ? number_to_currency(@payment.offer.price.ceil, :precision => 0) : "Free" %><br/>
                  You Saved: <%= (@payment.offer.price > 0) ? number_to_currency((@payment.offer.product.ticketed_retail - @payment.offer.price), :precision => 2) : "Free" %>
                  <span class="expires">Expires : 5/29/11 <%#= @payment.expiry.strftime("%m/%d/%y")[1..-1] %></span>
              </p>
              <p>
                  <%=description %><%#= " (" +  @payment.offer.product.color.titleize + ")" %><br/>
                  Style#: <%= @payment.offer.product.style_num %>
              </p>
              <p class="terms">
                  <b>Terms and Conditions:</b>
                  Offer valid in the U.S. only (including Puerto Rico) at Gap stores. Not valid at Gap Outlet, Gap Factory Store or The Gap Generation stores or online. Offer is good for one time use only and must be surrendered at time of in-store purchase. Discount applies to select women’s merchandise only, not to GiftCards or applicable taxes. No adjustments on previous purchases. Not valid for cash or cash equivalent. Offer cannot be combined with any other offers or discounts, including the Gap Inc. employee discount. Not responsible for lost or stolen coupons. Offer is not transferable. <b>Cashiers:</b> enter the code above to process the discount.
              </p>
            </div><!-- .cinner -->
            <div class="ctl"></div><div class="ctc"></div><div class="ctr"></div>
            <div class="cml"></div><div class="cmr"></div>
            <div class="cbl"></div><div class="cbc"></div><div class="cbr"></div>
        </div><!-- .capsule -->
        <%= link_to("Download PDF", "javascript:void();", :class => "capsule2 addlink", :onclick => "window.location.href='#{download_pdf_path(@payment.id)}'") %>
        <% form_for :payment, :url => payments_path(@payment.id) do |f| %>
          <p class="ctrl">
              <%= label_tag(:email, "Your email? (optional to send coupon)") %>
              <%= f.text_field :email, :class => "w250px" %>
          </p>
          <p class="ctrls">
              <span class="button-green small-font"><%= f.submit("Email Coupon") %></span>
          </p>
        <% end %>
    </div><!-- .column.wide -->
</div><!-- .columns -->
